<!--day.tmpl-->
<div class="header-buttons" >
	<div class="year-button">
	<!-- ###YEARVIEWLINK### start-->
		<!-- ###YEARVIEWLINKTEXT### start-->
		###L_YEAR###
		<!-- ###YEARVIEWLINKTEXT### end-->
	<!-- ###YEARVIEWLINK### end-->
	</div>
	<div class="month-button">
	<!-- ###MONTHVIEWLINK### start-->
		<!-- ###MONTHVIEWLINKTEXT### start-->
		###L_MONTH###
		<!-- ###MONTHVIEWLINKTEXT### end-->
	<!-- ###MONTHVIEWLINK### end-->
	</div>
	<div class="week-button">
	<!-- ###WEEKVIEWLINK### start-->
		<!-- ###WEEKVIEWLINKTEXT### start-->
		###L_WEEK###
		<!-- ###WEEKVIEWLINKTEXT### end-->
	<!-- ###WEEKVIEWLINK### end-->
	</div>
	<div class="day-button">
	<!-- ###DAYVIEWLINK### start-->
		<!-- ###DAYVIEWLINKTEXT### start-->
		###L_DAY###
		<!-- ###DAYVIEWLINKTEXT### end-->
	<!-- ###DAYVIEWLINK### end-->
	</div>
	<div class="today-button">###TODAY###</div>
</div>

<br style="clear: both;"/>
<div class="view-header">
	<div class="previous-button">
	<!-- ###PREV_DAYLINK### start-->
		<!-- ###PREV_DAYLINKTEXT### start-->
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<!-- ###PREV_DAYLINKTEXT### end-->
	<!-- ###PREV_DAYLINK### end-->
	</div>
	<div class="next-button">
	<!-- ###NEXT_DAYLINK### start-->
		<!-- ###NEXT_DAYLINKTEXT### start-->
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<!-- ###NEXT_DAYLINKTEXT### end-->
	<!-- ###NEXT_DAYLINK### end-->
	</div>
	<h3>###DISPLAY_DATE###</h3>
</div>
###DAY###
<!--/day.tmpl-->
