<!--location_address.tmpl-->
<!-- ###TEMPLATE_LOCATION_LOCATION### start -->
<div class="tx-kirche-cal">
	<h3><span class="map-icon map-icon-postal-code"></span>###NAME###</h3>
	<h4>###HEADING###</h4>
	<div><span class="map-icon map-icon-postal-code"></span><span>###STREET###, ###ZIP### ###CITY###</span></div>
	<div><i class="fa fa-phone" aria-hidden="true"></i>###PHONE###</div>
	<!-- <div><i class="fa fa-mobile" aria-hidden="true"></i>###MOBILEPHONE###</div> -->
	<!-- <div><i class="fa fa-fax" aria-hidden="true"></i>###FAX###</div> -->
	<div><span class="glyphicon glyphicon-link" aria-hidden="true"></span>###LINK###</div>
	<div><i class="tx-kirche-icon-email fa fa-envelope"></i>###EMAIL###</div>
	<div class="tx-kirche-cal-description">###DESCRIPTION###</div>
	<div class="tx-kirche-cal-map">###MAP###</div>
</div>
<!-- ###EDIT_LINK### -->
<!-- ###TEMPLATE_LOCATION_LOCATION### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>

	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>

	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>

	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>

	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_EVEN### end -->
<!--/location_address.tmpl-->
