<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Direct Mail Anmelde Vorlage</title>
</head>
<body>

<br />
<h1>DIRECT MAIL SUBSCRIPTION/ADMINISTRATION TEMPLATES</h1>
<h2>BEISPIELE</h2>










<em>Form zum Anlegen eines neuen Newsletterabonnementen:</em>
<!-- ###TEMPLATE_CREATE### begin -->
<form name="tt_address_form" method="post" action="###FORM_URL###">
###GW1B###Anmeldung für Stefans TYPO3 Newsletter###GW1E###
###GW2B###
<label>Ihr Name:</label>
<!--###SUB_REQUIRED_FIELD_name### begin
	Das hier wird nur dann angezeigt, wenn das Formular abgeschickt wurde und das Feld als zwingend benötigt konfiguriert wurde.
	The syntax is of the comment 'name' is: 	SUB_REQUIRED_FIELD_[enter-the-field-name-here]
-->
	<font color="red"><strong>Du musst einen Namen angeben!</strong></font><br />
<!--###SUB_REQUIRED_FIELD_name### end -->
<input type="text" name="FE[tt_address][name]" /><br />
<label for="email">E-Mail:</label>
<!--###SUB_REQUIRED_FIELD_email### begin
	Dasselbe wie oben...
	EVAL_ERROR_FIELD_email is in addition an error message defined in TypoScript in case an email address does not verify to be of correct syntax.
-->
	<font color="red"><strong>Du musst eine E-Mail-Adresse angeben!</strong></font><br />
	###EVAL_ERROR_FIELD_email###<br />
<!--###SUB_REQUIRED_FIELD_email### end-->
<input type="text" name="FE[tt_address][email]" /><br />
<div>###CE_CATLIST###</div>
<label>HTML E-Mails?</label>
<input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" />
<br />
<br />
<input type="submit" name="whatever" value="Anmelden" />
<input type="submit" name="whatever" value="Abbrechen" onclick="document.forms[0].action='###BACK_URL###';" />
###HIDDENFIELDS###
</form>
<br />
Wenn Du bereits angemeldet bist und nun wünscht Dich <a href="###FORM_URL###&cmd=infomail&backURL=###FORM_URL_ENC###">abzumelden oder Dein Profil zu bearbeiten, dann klick bitte hier.</a>
 ###GW2E###
<!-- ###TEMPLATE_CREATE### end-->










<em>	This is the code shown when a new newsletter recipient is created:</em>
<!-- ###TEMPLATE_CREATE_SAVED### begin
	Das ist der Quellcode, wenn ein neuer Abonnement angelegt wurde.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
###GW1B###Anmeldung gestartet.###GW1E###
###GW2B###
Du bist nun für unseren Newsletter angemeldet. Dir wurde soeben eine Nachricht an Deine E-Mail-Adresse ###FIELD_email### gesendet. Diese enthält einen Link, mit der Du Dein Profil bearbeiten kannst.<br />Bitte beachte, dass Deine Anmeldung inaktiv bleibt, solange Du den Aktivierungslink in dieser Benachrichtigung noch nicht angeklickt hast!
###GW2E###
<!-- ###TEMPLATE_CREATE_SAVED### end-->










<em>Das ist die Form zum Bearbeiten eines existierenden Users.</em>
<!-- ###TEMPLATE_EDIT### begin
	Diese Form ist zum Bearbeiten von existierenden Benutzer da.

	The form works with non-logged in users based on email-verification
-->
<form name="tt_address_form" method="post" action="###FORM_URL###">
###GW1B###Profil bearbeiten###GW1E###
###GW2B###
<!-- ###SUB_REQUIRED_FIELDS_WARNING### begin
	Dies ist eine generelle Warnung bzgl. falsch gefüllten Feldern.
-->
<b>Einige der benötigten Felder wurden nicht korrekt ausgefüllt. Du hast jetzt noch die Möglichkeit, das zu ändern.</b><br />
<br />
<!-- ###SUB_REQUIRED_FIELDS_WARNING### end -->

<label>Ihr Name:</label>
<!--###SUB_REQUIRED_FIELD_name### begin
	Das hier wird nur dann angezeigt, wenn das Formular abgeschickt wurde und das Feld als zwingend benötigt konfiguriert wurde.
	The syntax is of the comment 'name' is: 	SUB_REQUIRED_FIELD_[enter-the-field-name-here]
-->
	<font color="red"><strong>Du musst dieses Feld ausfüllen!</strong></font><br />
<!--###SUB_REQUIRED_FIELD_name### end -->
<input type="text" name="FE[tt_address][name]" /><br />
<label>E-Mail:</label>
<!--###SUB_REQUIRED_FIELD_email### begin
	Dasselbe wie oben...
	EVAL_ERROR_FIELD_email is in addition an error message defined in TypoScript in case an email address does not verify to be of correct syntax.
-->
	<font color="red"><strong>Trag bitte eine gültige E-Mail-Adresse ein!</strong></font><br />
	###EVAL_ERROR_FIELD_email###<br />
<!--###SUB_REQUIRED_FIELD_email### end-->
<input type="text" name="FE[tt_address][email]" /><br />
<label>HTML E-Mails?</label>
<input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" /><br />
	###HIDDENFIELDS###
	<input type="Submit" name="whatever" value="Aktualisieren" />
</form>
<br />
Klick hier, um <a href="###FORM_URL###&rU=###REC_UID###&aC=###AUTH_CODE###&cmd=delete"><strong>Dein Profil zu löschen (!)</strong></a>
###GW2E###
<br />
<!-- ###TEMPLATE_EDIT### end-->










<em>Dies hier wird angezeigt, wenn ein Benutzer sein Profil erfolgreich aktualisiert hat:</em>
<!-- ###TEMPLATE_EDIT_SAVED### begin
	Dies hier wird angezeigt, wenn ein Benutzer sein Profil erfolgreich aktualisiert hat:
	You can use the newly updated record as markers on the format ###FIELD_[fieldname]###
-->
###GW1B###Profil aktualisiert###GW1E###
###GW2B###
Du hast Dein Profil erfolgreich aktualisiert.<br />
<br />
Hier die neuen Informationen:<br />
Name: ###FIELD_name###<br />
E-Mail: ###FIELD_email###<br />
<br />

<a href="###FORM_URL###&cmd=edit&rU=###FIELD_uid###&aC=###AUTH_CODE###">Zurück zur Bearbeitung.</a>
###GW2E###
<!-- ###TEMPLATE_EDIT_SAVED### end-->










<em>Dieses Formular wird benötigt, um dem Benutzer eine Info-Mail zukommen zu lassen.</em>
<!-- ###TEMPLATE_INFOMAIL### begin
 Dieses Formular wird benötigt, um dem Benutzer eine Info-Mail zukommen zu lassen.
	You could also use this as a "did you forget your password?" service form.
-->
###GW1B###Profil bearbeiten###GW1E###
###GW2B###
Trag hier die E-Mail-Adresse ein, <em>mit der Du Dich hier registriert hast</em>, und ein Link zum Bearbeiten wird an Deine E-Mail-Adresse gesendet:<br />
<form name="tt_address_form" method="post" action="###FORM_URL###">
<input type="text" name="fetch" /><br /><br />
<input type="submit" name="whatever" value="Senden" />
	###HIDDENFIELDS###
</form>
###GW2E###
<!-- ###TEMPLATE_INFOMAIL### end-->










<em>Diese Vorlage erscheint, wenn ein User eine Info-Mail angefordert hat und die E-Mail versand wurde.</em>
<!-- ###TEMPLATE_INFOMAIL_SENT### begin
 Diese Vorlage erscheint, wenn ein User eine Info-Mail angefordert hat und die E-Mail versand wurde.
-->
###GW1B###Ihnen wurde soeben eine E-Mail mit den benötigten Informationen gesendet###GW1E###
###GW2B###
<a href="###BACK_URL###"><strong>Zurück...</strong></a><br />
###GW2E###
<!-- ###TEMPLATE_INFOMAIL_SENT### end-->










<em>Diese Vorlage erscheint, wenn ein Benutzer sich vom Newsletter abgemeldet hat.</em>
<!-- ###TEMPLATE_DELETE_SAVED### begin
 Diese Vorlage erscheint, wenn ein Benutzer sich vom Newsletter abgemeldet hat.
-->
###GW1B###Du wurdest abgemeldet!###GW1E###
###GW2B###
Name: ###FIELD_name###<br />
E-Mail: ###FIELD_email###<br />
###GW2E###
<!-- ###TEMPLATE_DELETE_SAVED### end-->










<h2>'Setfixed' templates:</h2>

<em>Diese Vorlage wird angezeigt, wenn ein Benutzer den Bestätigungslink in der Mail angeklickt hat.</em>
<!-- ###TEMPLATE_SETFIXED_OK### begin
 Diese Vorlage wird angezeigt, wenn ein Benutzer den Bestätigungslink in der Mail angeklickt hat.
-->
###GW1B###Ihre Anmeldung wurde genehmigt###GW1E###
###GW2B###
Name: ###FIELD_name###<br />
E-Mail: ###FIELD_email###
###GW2E###
<!-- ###TEMPLATE_SETFIXED_OK### end-->










<em>Diese Vorlage wird angezeigt, wenn ein Benutzer den Löschenlink aus der Mail angeklickt hat.</em>
<!-- ###TEMPLATE_SETFIXED_OK_DELETE### begin
 Diese Vorlage wird angezeigt, wenn ein Benutzer den Löschenlink aus der Mail angeklickt hat.
-->
###GW1B###Ihre Anmeldung wurde gelöscht!###GW1E###
###GW2B###
Name: ###FIELD_name###<br />
E-Mail: ###FIELD_email###
###GW2E###
<!-- ###TEMPLATE_SETFIXED_OK_DELETE### end-->










<em>Diese Vorlage erscheint, wenn ein Benutzer den Bestätigungslink aus der Mail ein weiteres Mal angeklickt hat.</em>
<!-- ###TEMPLATE_SETFIXED_FAILED### begin
 Diese Vorlage erscheint, wenn ein Benutzer den Bestätigungslink aus der Mail ein weiteres Mal angeklickt hat.
-->
###GW1B###Fehler. Der Anmeldevorgang konnte nicht abgeschlossen werden!###GW1E###
###GW2B###
Das kann vorkommen, wenn der Bestätigungslink in Ihrer Infomail ein weiteres Mal angeklickt wurde.
###GW2E###
<!-- ###TEMPLATE_SETFIXED_FAILED### end-->










<em>Diese Vorlage erscheint, wenn ein Benutzer den Löschenlink aus der Mail ein weiteres Mal angeklickt hat.</em>
<!-- ###TEMPLATE_AUTH### begin
 Diese Vorlage erscheint, wenn ein Benutzer den Löschenlink aus der Mail ein weiteres Mal angeklickt hat.
-->
###GW1B###Fehler. Der Abmeldevorgang konnte nicht abgeschlossen werden!###GW1E###
###GW2B###
Das kann vorkommen, wenn der Löschenlink in Ihrer Infomail ein weiteres Mal angeklickt wurde.
###GW2E###
<!-- ###TEMPLATE_AUTH### end-->










<h1>EMAIL TEMPLATES:</h1>
In diesen Text-Mail-Vorlagen werden die ersten Zeilen f&uuml;r den Betreff der Mail verwendet.<br />

<em>Diese Vorlage wird benötigt, um einen Benutzer darüber zu informieren, das er für den Newsletter registriert wurde.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<pre>
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### begin
 Diese Vorlage wird benötigt, um einen Benutzer darüber zu informieren, das er für den Newsletter registriert wurde.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Stefans TYPO3 Newsletteranmeldung

Hallo ###FIELD_name###

Du wurdest für den Newsletter von Stefans TYPO3 Seite angemeldet.

WICHTIG:

Damit Deine Anmeldung abgeschlossen werden kann, musst Du noch auf folgenden Link klicken:
###THIS_URL######FORM_URL###?1=1###SYS_SETFIXED_approve###

Wenn Du Deine Anmeldung ablehnen willst (z.B. falls jemand anders Dich angemeldet haben sollte!) einfach auf diesen Link klicken, um Dich aus der Datenbank zu löschen:
###THIS_URL######FORM_URL######SYS_SETFIXED_DELETE###

Wenn Du Deine Daten bearbeiten willst, dann klick bitte hier:
###THIS_URL######FORM_URL###?cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### end-->
</pre>










<em>Diese Vorlage wird verwendet, um den Administrator über diese neue Anmeldung zu informieren.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<pre>
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### begin
	Diese Vorlage wird verwendet, um den Administrator über diese neue Anmeldung zu informieren.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Administrator: Eine neue Anmeldung für den Newsletter

Name: ###FIELD_name###
E-Mail: ###FIELD_email###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### end-->
</pre>










<em>Diese Vorlage wird versendet, wenn der Benutzer sein Profil bearbeiten möchte</em>
<pre>
<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### begin
 Diese Vorlage wird versendet, wenn der Benutzer sein Profil bearbeiten möchte
-->
<!--###SUB_RECORD###-->
Stefans TYPO3 Newsletter. Bearbeitungslinks

Hallo ###FIELD_name###

Klick hier, wenn Du Deine persönlichen Daten bearbeiten willst
###THIS_URL######FORM_URL###&cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###

Klick hier, wenn Du Dich vom Newsletter abnelden/löschen willst
###THIS_URL######FORM_URL###&cmd=delete&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### end-->
</pre>










<em>Vorlage die versendet wird, falls der Benutzer nicht registriert ist.</em>
<pre>
<!-- ###EMAIL_TEMPLATE_NORECORD### begin
 Vorlage die versendet wird, falls der Benutzer nicht registriert ist.
-->
Datensatz nicht gefunden!

Du hast Daten einer Registrierung angefordert, die nicht in der Datenbank gefunden werden konnten.

Sorry.
<!-- ###EMAIL_TEMPLATE_NORECORD### end-->
</pre>
</body>
</html>
