@import '../Contrib/bootstrap-3.3.7/css/bootstrap.min.css';
@import '../Contrib/font-awesome-4.7.0/css/font-awesome.min.css';
@import '../Contrib/map-icons/css/map-icons.min.css';
@import "../../../../../../typo3conf/ext/t3sbootstrap/Resources/Public/Styles/rte.css";


span.tx-kirche-icon-standort.map-icon.map-icon-postal-code,
span.tx-kirche-icon-webseite.glyphicon.glyphicon-link,
i.tx-kirche-icon-email.fa.fa-envelope,
i.tx-kirche-icon-telefon.fa.fa-phone,
i.tx-kirche-icon-fax.fa.fa-fax,
i.tx-kirche-icon-kalender.fa.fa-calendar,
i.tx-kirche-icon-person.fa.fa-user-circle {
	float: left;
	width: 30px;
	display: inline-block;
}
